body{
    background-color: burlywood;
}
form {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: burlywood;
  }
  
  h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

select option {
  padding: 0.5rem;
  background-color: #fff;
  color: #333;
}

select:focus {
  outline: none;
  border-color: #007bff;
}

  input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  input:required {
    border-color: #007bff;
  }
  
  textarea {
    height: 100px;
  }
  footer {
    background-color: burlywood;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  footer a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: rgb(0, 109, 128);
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  footer a:hover {
    background-color: black;
    color: white;
  }